<div class="col-md-4">
    <div class="card-group">
        <div class="card bg-dark mycard-border text-white">
            <div class="college-card-img">
                <img class="card-img-top" src=<%- colleges[i].image%> alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <%-i+1%>) <%- colleges[i].name %>
                </h5>
                <p class="card-text">Opens: <%- colleges[i].open%>PM, Closes:<%- colleges[i].close%>AM</p>
                <p class="card-text">Location: <%- colleges[i].type%></p>
                <% if (crawl){ %>
                    <p class="card-text">Arrival: <%- times[i][0] %> Departure: <%- times[i][1] %>  </p><p><%if(times[i][3] == 0){ %> The End<%}else{%>Walk to Next Bar <%- times[i][3]%> Minutes<%}%></p>
                <%}%>
            </div>
        </div>
    </div>
</div>